<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Labyrinth{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Labyrinth</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('labyrinth.create_labyrinth') }}">Design labyrinth</a>
            <a href="{{ url_for('publication.get_all_publications') }}">Discover labyrinths</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('labyrinth.my_labyrinths') }}">My labyrinths</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    {% endblock %}
</body>
</html>