{% extends 'base.html' %}

{% block title %}{{ publication.labyrinth.title }}{% endblock %}

{% block content %}
    <h2>
        {{ publication.labyrinth.title }} from 
        <a href="{{ url_for('auth.get_user_profile', id=publication.labyrinth.user.id) }}">
            {{ publication.labyrinth.user.username }}
        </a>
    </h2>
    <p><strong>Description:</strong> {{ publication.labyrinth.description or "No description" }}</p>
    {% if current_user.is_authenticated %}
        {% if current_user.id == publication.labyrinth.user.id %}
            <p><strong>State:</strong> Owned</p>
        {% elif current_user in publication.winners %}
            <p><strong>State:</strong> Completed</p>
        {% else %}
            <p><strong>State:</strong> Uncompleted</p>
        {% endif %}
    {% endif %}
    {% set rows = publication.labyrinth.matrix|length %}
    {% set cols = publication.labyrinth.matrix[0]|length %}
    {% if rows < 16 and cols < 29 %}
        {% set size_class = 'table-size-lg' %}
    {% elif rows < 23 and cols < 41 %}
        {% set size_class = 'table-size-md' %}
    {% else %}
        {% set size_class = 'table-size-sm' %}
    {% endif %}

    <div id="labyrinth-container">
        <table class="labyrinth {{ size_class }}">
            <tr>
                <th id="0,0"></th>
                {% for col in range(1, cols + 1) %}
                    <th id="0,{{ col }}">{{ col }}</th>
                {% endfor %}
            </tr>
            {% for i in range(rows) %}
                <tr>
                    <th id="{{ i }},0">{{ i + 1 }}</th>
                    {% for j in range(cols) %}
                        {% set cell_class = '' %}
                        {% if publication.labyrinth.matrix[i][j] == 1 %}
                            {% set cell_class = 'wall' %}
                        {% endif %}
                        {% if (i+1, j+1) == publication.labyrinth.get_start() %}
                            {% set cell_class = 'start' %}
                        {% elif (i+1, j+1) == publication.labyrinth.get_end() %}
                            {% set cell_class = 'end' %}
                        {% endif %}
                        <td class="{{ cell_class }}" data-row="{{ i+1 }}" data-col="{{ j+1 }}" onmouseover="toggleCell(this)" onfocus="toggleCell(this)" tabindex="0">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
   
    <button id="print" onclick="printLabyrinth()">Print</button>
    <button id="export" onclick="exportLabyrinth({{ publication.labyrinth.matrix|tojson }}, {{ publication.labyrinth.get_start()|tojson }}, {{ publication.labyrinth.get_end()|tojson }})">Export</button>
    <button id="solve" onclick="solveLabyrinth({{ publication.id }})">Solve</button>
    <button id="reset" onclick="resetTable()">Reset</button>
    <button id="hide" onclick="hideResult()" style="display: none;">Hide</button>
    <span id="result"></span>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        let isMouseDown = false;
        let changeType = true;
        let path = ["{{ publication.labyrinth.start }}"];
        document.addEventListener("mousedown", (e) => {
            isMouseDown = true;
            changeType = !e.target.classList.contains("path");
            if (e.target.tagName === "TD") toggleCell(e.target);
        });
        document.addEventListener("mouseup", () => isMouseDown = false);

        let directions = { "1,0": "🡇", "-1,0": "🡅", "0,1": "🡆", "0,-1": "🡄"};
        function toggleCell(cell) {
            if (document.getElementById("hide").style.display == "inline") return;
            if (isMouseDown) {
                if (cell.classList.contains("wall") || cell.classList.contains("start") || cell.classList.contains("end")) return;
                if (cell.classList.contains("path") && !changeType) {
                    if(path.at(-1) == cell.dataset.row + "," + cell.dataset.col) {
                        cell.classList.remove("path");
                        cell.innerText = ""
                        path.pop()
                    }
                } else if (!cell.classList.contains("path") && changeType) {
                    let movement = String(parseInt(cell.dataset.row) - path.at(-1).split(',')[0]) + "," + String(parseInt(cell.dataset.col) - path.at(-1).split(',')[1])
                    if(movement in directions){
                        cell.classList.add("path");
                        cell.innerText = directions[movement];
                        path.push(cell.dataset.row + "," + cell.dataset.col)
                    }
                }
            }
        }

        function solveLabyrinth(id) {
            fetch(`/publication/solve/${id}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({  path: [...path, "{{ publication.labyrinth.end }}"] })
            })
            .then(response => response.json())
            .then(data => {
                if (data.result) {
                    document.getElementById("result").innerText = `${data.result}`;
                    document.getElementById("hide").style.display = "inline";
                }
            });
        }

        function resetTable() {
            const table = document.querySelector("#labyrinth-container table");
            table.querySelectorAll("td").forEach(cell => {
                cell.classList.remove("path");
                cell.innerText = "";
            });
            path = ["{{ publication.labyrinth.start }}"];
            document.getElementById("result").innerText = "";
            document.getElementById("hide").style.display = "none";
        }

        function hideResult() {
            document.getElementById("result").innerText = "";
            document.getElementById("hide").style.display = "none";
        }

        function printLabyrinth() {
            const original = document.getElementById("labyrinth-container");

            const clone = original.cloneNode(true);
            clone.style.position = "fixed";
            clone.style.top = "-10000px";
            document.body.appendChild(clone);

            clone.querySelector("tr").remove();
            const allRows = clone.querySelectorAll("tr");
            allRows.forEach(row => {
                row.querySelector("th").remove();
            });

            html2canvas(clone, {
                scale: 3
            }).then(canvas => {
                const link = document.createElement('a');
                link.download = 'labyrinth.png';
                link.href = canvas.toDataURL();
                link.click();
                document.body.removeChild(clone);
            });
        }

        function exportLabyrinth(matrix, start, end) {
            let jsonText = '{\n';
            jsonText += '  "matrix": [\n';
            matrix.forEach((row, i) => {
                jsonText += '    [' + row.join(', ') + ']' + (i < matrix.length - 1 ? ',' : '') + '\n';
            });
            jsonText += '  ],\n';
            jsonText += '  "start": [' + start.join(', ') + '],\n';
            jsonText += '  "end": [' + end.join(', ')+ ']\n';
            jsonText += '}';

            const blob = new Blob([jsonText], { type: "application/json" });
            const url = URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = "labyrinth.json";
            a.click();
            URL.revokeObjectURL(url);
        }

    </script>
{% endblock %}