{% extends 'base.html' %}

{% block title %}{{ publication.labyrinth.title }}{% endblock %}

{% block content %}
    <h2>{{ publication.labyrinth.title }} from {{ publication.labyrinth.user.username }}</h2>
    <p><strong>Description:</strong> {{ publication.labyrinth.description or "No description" }}</p>
    {% set rows = publication.labyrinth.matrix|length %}
    {% set cols = publication.labyrinth.matrix[0]|length %}
    {% if rows < 16 and cols < 29 %}
        {% set size_class = 'table-size-lg' %}
    {% elif rows < 23 and cols < 41 %}
        {% set size_class = 'table-size-md' %}
    {% else %}
        {% set size_class = 'table-size-sm' %}
    {% endif %}

    <div id="labyrinth-container">
        <table class="labyrinth {{ size_class }} no-pointer">
            <tr>
                <th></th>
                {% for col in range(1, cols + 1) %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            {% for i in range(rows) %}
                <tr>
                    <th>{{ i + 1 }}</th>
                    {% for j in range(cols) %}
                        {% set cell_class = '' %}
                        {% if publication.labyrinth.matrix[i][j] == 1 %}
                            {% set cell_class = 'wall' %}
                        {% endif %}
                        {% if (i+1, j+1) == publication.labyrinth.get_start() %}
                            {% set cell_class = 'start' %}
                        {% elif (i+1, j+1) == publication.labyrinth.get_end() %}
                            {% set cell_class = 'end' %}
                        {% endif %}
                        <td class="{{ cell_class }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
   
    <button id="print" onclick="printLabyrinth()">Print</button>
    <button id="export" onclick="exportLabyrinth({{ publication.labyrinth.matrix|tojson }}, {{ publication.labyrinth.get_start()|tojson }}, {{ publication.labyrinth.get_end()|tojson }})">Export</button>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function printLabyrinth() {
            const original = document.getElementById("labyrinth-container");

            const clone = original.cloneNode(true);
            clone.style.position = "fixed";
            document.body.appendChild(clone);

            clone.querySelector("tr").remove();
            const allRows = clone.querySelectorAll("tr");
            allRows.forEach(row => {
                row.querySelector("th").remove();
            });

            html2canvas(clone, {
                scale: 3
            }).then(canvas => {
                const link = document.createElement('a');
                link.download = 'labyrinth.png';
                link.href = canvas.toDataURL();
                link.click();
                document.body.removeChild(clone);
            });
        }

        function exportLabyrinth(matrix, start, end) {
            let jsonText = '{\n';
            jsonText += '  "matrix": [\n';
            matrix.forEach((row, i) => {
                jsonText += '    [' + row.join(', ') + ']' + (i < matrix.length - 1 ? ',' : '') + '\n';
            });
            jsonText += '  ],\n';
            jsonText += '  "start": [' + start.join(', ') + '],\n';
            jsonText += '  "end": [' + end.join(', ')+ ']\n';
            jsonText += '}';

            const blob = new Blob([jsonText], { type: "application/json" });
            const url = URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = "labyrinth.json";
            a.click();
            URL.revokeObjectURL(url);
        }

    </script>
{% endblock %}