{% extends 'base.html' %}

{% block title %}{{ labyrinth.title }}{% endblock %}

{% block content %}
    <h2>{{ labyrinth.title }} from {{ labyrinth.user.username }}</h2>
    <p>{{ labyrinth.description }}</p>

    <table>
        <tr>
            <th></th>
            {% for col in range(1, labyrinth.matrix[0]|length + 1) %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for i in range(labyrinth.matrix|length) %}
            <tr>
                <th>{{ i + 1 }}</th>
                {% for j in range(labyrinth.matrix[0]|length) %}
                    {% set cell_class = '' %}
                    {% if labyrinth.matrix[i][j] == 1 %}
                        {% set cell_class = 'wall' %}
                    {% endif %}
                    {% if (i+1, j+1) == labyrinth.get_start() %}
                        {% set cell_class = 'start' %}
                    {% elif (i+1, j+1) == labyrinth.get_end() %}
                        {% set cell_class = 'end' %}
                    {% endif %}
                    <td class="{{ cell_class }}"></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
<style>
    table { border-collapse: collapse; }
    th { user-select: none; }
    td { width: 30px; height: 30px; text-align: center; border: 1px solid black; user-select: none; }
    .wall { background-color: black; }
    .start { background-color: green; }
    .end { background-color: red; }
</style>
{% endblock %}