{% extends 'base.html' %}

{% block title %}My labyrinths{% endblock %}

{% block content %}
    <h2>My labyrinths</h2>

    {% if labyrinths %}
        <div class="labyrinth-card-container">
            {% for lab in labyrinths %}
                <a href="{{ url_for('labyrinth.get_labyrinth', id=lab.id) }}" class="labyrinth-card-link">
                    <div class="labyrinth-card">
                        <strong>{{ lab.title }}</strong>
                        <p><strong>Description:</strong> {{ lab.description or "No description" }}</p>
                        <p><strong>Size:</strong> {{ lab.matrix|length }} x {{ lab.matrix[0]|length }}</p>
                        <p>
                            <strong>Start:</strong> {{ lab.start }}
                            <strong>End:</strong> {{ lab.end }}
                        </p>
                        <p><strong>Published:</strong> {{ 'Yes' if lab.is_published else 'No' }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No labyrinths found.</p>
    {% endif %}
{% endblock %}